.home {
  height: 100vh;
  color: #ddd;

  &-content {
    &_cta {
      position: relative;
      font-size: 3rem;
      padding-top: 10vh;
      height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-around;

      @include respond(phone) {
        height: 90vh;
        font-size: 2.4rem;
      }

      &-text {
        width: 70%;
        padding: 0 15%;
        text-transform: uppercase;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        font-size: 20rem;
        font-weight: 900;
        letter-spacing: -1.5rem;
        display: flex;
        flex-direction: column;
        z-index: -1000;

        @include respond(phone) {
          width: 100%;
          padding: 0 10%;
        }

        &_top {
          color: #192841;

          margin-left: 10%;
        }
        &_middle {
          color: white;
          -webkit-text-fill-color: transparent;
          -webkit-text-stroke-width: 2px;
          -webkit-text-stroke-color: white;
        }
        &_bottom {
          margin: 10rem 0 10rem 30rem;
          font-size: 2vw;
          font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
        }
      }
      &-btn {
        margin: 0rem 20% 10rem;
      }

      &-btn a {
        &,
        &:link,
        &:visited {
          text-decoration: none;
          color: #ddd;
        }
        box-shadow: 0 0rem 0rem transparent;
        font-size: 4rem;
        width: 100%;
        transition: all 0.3s ease-out;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);

        &:hover {
          cursor: pointer;
          box-shadow: 0 0.5rem 0rem #fff;
        }

        @include respond(phone) {
          margin: 0rem 10% 15rem;
          font-size: 4.5rem;
          align-self: flex-end;
        }
      }
      &-img {
        position: absolute;
        height: 100vh;
        bottom: 0;
        right: 0;
        z-index: 100;

        @include respond(phone) {
          height: auto;
          width: 100vw;
          right: 0px;
          transform: rotateZ(90deg) scale(1.333);
        }
      }
    }
  }
}
