.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, 500px);
    width: 100%;
    row-gap: 100px;
    column-gap: 100px;
    padding-top: 20vh;
    justify-content: center;
    align-items: center;
    animation: fadeIn 1s ease-out;
    animation-fill-mode: backwards;
}